@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
  --bg-color: #fff;
  --dark-grey: #333;
  --navy-blue: #201c29;
  --code-color: #f5d67b;
  --code-color2: #83ba52;
  --code-output: #72e0d1;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', serif;
}

body {
  max-width: calc(1600px - 5%);
  margin: 0 auto;
  padding: 0 5%;
  background-color: var(--bg-color);
  color: var(--dark-grey);
  letter-spacing: 1px;
  line-height: 1.6;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 8%;
}

h1 {
  font-size: clamp(1.2rem, 2vw, 3rem);
  font-weight: 400;
}

h1 span {
  color: red;
}

h4 {
  margin-bottom: 0;
}

a {
  color: var(--bg-color);
}

select {
  background: none;
  color: #000;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 1rem 0;
  text-align: center;
}

option:first-child {
  font-weight: bold;
  background: var(--bg-color);
  color: #000;
}

option {
  background: var(--navy-blue);
  color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.method-types {
  text-align: center;
}

.method-details {
  min-width: 20vh;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 1vw, 1.5rem);
  background-color: var(--navy-blue);
  border-radius: 5px;
  padding: 3rem;
  margin: 1rem 0;
  align-self: stretch;
}

.method-details h3 {
  color: var(--code-color);
}

.paragraph {
  color: var(--bg-color);
}
